In [23]:
import pandas as pd

In [100]:

fileS3=pd.read_csv("201908-citibike-tripdata.csv")
fileS2=pd.read_csv("201907-citibike-tripdata.csv")
fileS1=pd.read_csv("201906-citibike-tripdata.csv")

fileW3=pd.read_csv("201902-citibike-tripdata.csv")
fileW2=pd.read_csv("201901-citibike-tripdata.csv")
fileW1=pd.read_csv("201812-citibike-tripdata.csv")

In [42]:
fileW3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [96]:
summer_data=pd.concat([fileS1,fileS2,fileS3])

In [97]:
len(summer_data)

6650658

In [98]:
winter_data=pd.concat([fileW1,fileW2,fileW3])

In [103]:
len(winter_data)

2927536

In [104]:
summer_data.to_csv("summer_data.csv",index=False,header=True)

In [105]:
winter_data.to_csv("winter_data.csv",index=False,header=True)